<div id="message" class="">
</div>

<div class="container mt-3 d-flex flex-wrap">
  <div class="row col-12">
    <div class="col-12 mb-5">
      <%= render 'input_search' %>
    </div>
    <div class="col-4 border-right-orange">
      <%= render 'new_post' %>
    
    </div>
    <div id="posts" class="col-8">
      <%= render 'list_posts'%>
    </div>
  </div>
</div>


